.block-form {
    width: 100%;
    min-height: calc(100vh - 102px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 102px;
    &__top {
        align-items: flex-start;
        padding: 40px 0 !important;
    }
    @media screen and (max-width: 1199px) {
        min-height: calc(100vh - 92px);
        padding: 40px 0 92px;
    }
    @media screen and (max-width: 767px) {
        height: auto;
        min-height: auto;
        margin: 0;
        padding: 40px 0;
    }
    &__content {
        width: 100%;
        max-width: 570px;  
        @media screen and (max-width: 767px) {
            max-width: 100%;
            margin: 0px 25px;
        }
    }
    &__back {
        display: flex;
        align-items: center;
        color: #000;
        font-size: 15px;
        line-height: 18px;
        text-decoration: none;
        transition: all 400ms ease-in-out;
        font-family: myriadpro;
        font-weight: 400;
        margin: 0 0 30px 0;
        &_image {
            min-width: 40px;
            max-width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #F1F3F6;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 15px 0 0;
            img {
                min-width: 7px;
                max-width: 7px;
            }
        }
        &:hover {
            transition: all 400ms ease-in-out;
            text-decoration: none;
            color: #E70406;
        }
    }
    &__form {
        width: 100%;
        border-radius: 20px;
        box-shadow: 0 8px 20px rgba(0,0,0,0.1);
        padding: 50px 35px;
        @media screen and (max-width: 767px) {
            padding: 30px 20px;
        }
        h1 {
            font-size: 34px;
            line-height: 41px;
            color: #000;
            margin: 0 0 14px 0;
            font-family: myriadpro;
            font-weight: 700;
            @media screen and (max-width: 767px) {
                font-size: 28px;
                line-height: 34px;
                margin: 0 0 12px 0;
                font-weight: 500;
            }
            &.small-title {
                font-size: 28px;
                line-height: 34px;
                font-weight: 500;
            }
        }
        p.text {
            font-size: 15px;
            line-height: 18px;
            font-family: myriadpro;
            font-weight: 400;
            margin: 0 0 30px 0;
            &.middle-text {
                font-size: 17px;
                line-height: 20px;
            }
        }
    }
}