<h1>Восстановление пароля</h1>
<p class="text">Введите email, который вы указывали при заключении договора. На этот адрес электронной почты мы пришлем письмо с новым паролем</p>
<div class="form-group form-group__error">
    <input class="form-control form-control__error" type="text" placeholder="Email" value="Konstantin@mail.ru">
    <span>Пользователь с таким email не найден. Проверьте правильность ввода данных своего почтового адреса или обратитесь в техническую поддержку по номеру <a href="tel:88314577777">8 (83145) 777-77</a></span>
</div>
<div class="form-group">
    <p class="form-agreement">Нажимая кнопку "Отправить новый пароль", Вы принимаете условия <a href="#">пользовательского соглашения</a> и <a href="#">политики конфиденциальности</a>.</p>
</div>
<button type="submit" class="btn button button-red">Отправить новый пароль</button>
