<h1 class="small-title">Введите код</h1>
<p class="text middle-text">Сейчас вам поступит звонок, введите последние 4 цифры номера, с которого поступил вызов</p>
<div class="form-group">
    <input class="form-control" type="text" placeholder="Последние 4 цифры номера телефона">
</div>
<div class="code-flex">
    <p>Повторный звонок через 43 секунды</p>
    <div class="code-tooltip">
        <a href="#" class="code-link">
            Не поступает звонок
            <span>?</span>
        </a>
        <div class="tooltip-block">
            <button class="tooltip-block__close" type="button">
                <img src="/img/close-button.svg" alt="">
            </button>
            <p class="tooltip-block__text">Возможные причины:</p>
            <ol class="tooltip-block__list">
                <li>Вы не сообщили новый номер телефона и код пришел на старый. Обратитесь в техническую поддержку по номеру <a href="tel:88314577777">8 (83145) 777-77</a></li>
                <li>Проблемы могут быть со стороны сотового оператора. Обратитесь в его службу поддержки</li>
                <li>Вход по номеру телефона временно недоступен. Войдите, используя логин и пароль</li>
            </ol>
        </div>
    </div>
</div>
<button type="submit" class="btn button button-red">Подтвердить</button>
