<h1 class="small-title">Введите код</h1>
<p class="text middle-text">Сейчас вам поступит звонок, введите последние 4 цифры номера, с которого поступил вызов</p>
<div class="form-group form-group__error">
    <input class="form-control form-control__error" type="text" placeholder="Последние 4 цифры номера телефона" value="4589">
    <span>Введен неверный код</span>
</div>
<div class="code-flex">
    <p>Повторный звонок через 43 секунды</p>
    <div class="code-tooltip">
        <a href="#" class="code-link">
            Не поступает звонок
            <span>?</span>
        </a>
    </div>
</div>
<button type="submit" class="btn button button-red">Подтвердить</button>
