<h1>Вход в личный кабинет</h1>
<ul class="nav nav-tabs">
    <li class="nav-item">
      <button class="nav-link active" type="button">По номеру телефона</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" type="button">Вход с паролем</button>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="+7 (___) ___-__-__">
      </div>

    </div>
    <div class="tab-pane">
      2
    </div>
  </div>
<div class="form-group">
  <div class="chekbox">
    <p> 
      <input type="checkbox" id="chekbox-1" checked>
      <label for="chekbox-1">Запомнить меня</label>
    </p>
  </div>
</div>
<div class="form-group">
  <p class="form-agreement">Нажимая кнопку "Получить код", Вы принимаете условия <a href="#">пользовательского соглашения</a> и <a href="#">политики конфиденциальности</a>.</p>
</div>
<button type="submit" class="btn button button-red disabled">Получить код</button>
