<h1>Выберите лицевой счет</h1>
<div class="radiobox">
    <p>
        <input type="radio" name="radiobox-item" id="radiobox1">
        <label for="radiobox1">
            <span class="number">№ 29656810857</span>
            <span class="address">г. Кстово, ул. 40 лет Октября, 1, кв. 12</span>
        </label>
    </p>
    <p>
        <input type="radio" name="radiobox-item" id="radiobox2" checked="checked">
        <label for="radiobox2">
            <span class="number">№ 18765901968</span>
            <span class="address">г. Кстово, пл. Мира, д. 2Б, кв. 64 </span>
        </label>
    </p>
    <p>
        <input type="radio" name="radiobox-item" id="radiobox3">
        <label for="radiobox3">
            <span class="number">№ 35457720547</span>
            <span class="address">г. Кстово, ул. Театральная, 21, кв. 28</span>
        </label>
    </p>											
</div>
<button type="submit" class="btn button button-red">Выбрать</button>