.letter-sent {
    text-align: center;
    &__image {
        max-width: 60px;
        min-width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F1F3F6;
        margin: 0 auto 30px;
        img {
            width: auto;
            height: auto;
            max-width: 21px;
        }
    }
    p {
        font-size: 20px;
    }
}