.letter-sent {
    text-align: center;
    p {
        font-size: 20px;
    }
    &__image {
        max-width: 60px;
        min-width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F1F3F6;
        margin: 0 auto 30px;
        img {
            width: auto;
            height: auto;
            max-width: 21px;
        }
        p {
            font-size: 28px !important;
            line-height: 34px !important;
            color: #E70406 !important;
            font-family: myriadpro;
            font-weight: 500 !important;
            margin: 0 !important;
        }
        &_red {
            background: #E70406;
            p {
                font-size: 28px;
                line-height: 34px;
                color: #fff !important;
                font-family: myriadpro;
                font-weight: 500;
            }
        }
    }
}