.code {
    &-tooltip {
        position: relative;
    }
}
.tooltip-block {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    background: #2f6fabb3;
    padding: 20px;
    border-radius: 20px;
    min-width: 400px;
    max-width: 400px;
    text-align: right;
    z-index: 5;
    @media screen and (max-width: 1439px) {
        padding: 20px 15px;
        min-width: 280px;
        max-width: 280px;
    }
    @media screen and (max-width: 1199px) {
        left: auto;
        top: 30px;
    }
    @media screen and (max-width: 767px) {
        position: fixed;
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 10px 10px 0 0;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        padding: 20px 25px;
    }
    &:before {
        content: "";
        top: 20px;
        width: 11px;
        height: 21px;
        left: -9px;
        position: absolute;
        background: url(../img/tooltip-element.svg) 0px 0px no-repeat;
        @media screen and (max-width: 1199px) {
            top: -14px;
            left: calc(50% - -10px);
            transform: rotate(90deg);
        }
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    &__close {
        background: transparent;
        border: 0;
        margin: 0 0 10px 0;
        padding: 0;
        display: none;
        cursor: pointer;
        @media screen and (max-width: 767px) {
            display: inline-block;
        }
    }
    &__text {
        font-size: 14px !important;
        line-height: 19px !important;
        color: #D4D4D4 !important;
        font-family: myriadpro;
        font-weight: 500 !important;
        text-align: left;
        @media screen and (max-width: 767px) {
            margin: 0 0 10px 0 !important;
        }
    }
    &__desc {
        font-size: 14px !important;
        line-height: 19px !important;
        color: #E8EAEC !important;
        text-align: left;
    }
    &__list {
        display: block;
        padding: 0;
        margin: 10px 0 0 0;
        counter-reset: tooltip-name;
        li {
            display: block;
            padding: 0 0 0 15px;
            margin: 0 0 10px 0;
            position: relative;
            font-size: 14px;
            line-height: 19px;
            color: #E8EAEC;
            font-family: myriadpro;
            font-weight: 400;
            text-align: left;
            &:last-child {
                margin: 0;
            }
            &:before {
                counter-increment: tooltip-name;
                content: counter(tooltip-name)".";
                color: #E8EAEC;
                position: absolute;
                font-size: 14px;
                line-height: 19px;
                top: 0;
                left: 0;
                font-family: myriadpro;
                font-weight: 400;
            }
            a {
                color: #E8EAEC;
                text-decoration: none;
                &:hover {
                    color: #E8EAEC;
                    text-decoration: underline;
                }
            }
        }
    }
}