.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    z-index: 50;
    &-content {
        width: 100%;
        max-width: 570px;
        padding: 50px 35px;
        background: #fff;
        border-radius: 20px;
        box-shadow: 0 8px 20px rgba(0,0,0,0.15);
        position: relative;
        text-align: center;
        @media screen and (max-width: 767px) {
            padding: 30px 20px;
        }
    }
    &-close {
        position: absolute;
        width: 14px;
        height: 14px;
        top: 25px;
        right: 25px;
        cursor: pointer;
        img {
            width: 100%;
            cursor: pointer;
        }
    }
    p {
        font-size: 17px;
        line-height: 20px;
        color: #000;
        font-family: myriadpro;
        font-weight: 400;
        margin: 0 0 32px 0;
        &.title {
            font-size: 28px;
            line-height: 34px;
            margin: 0 0 17px 0;
            font-weight: 500;
        }
    }
}