.footer {
    padding: 50px 0;
    background: #F1F3F6;
    &-block {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        @media screen and (max-width: 767px) {
            display: block;
        }
        &__content {
            img {
                width: 100%;
                max-width: 108px;
            }
            p {
                margin: 16px 0 0 0;
                font-size: 15px;
                line-height: 18px;
                color: #000;
                font-family: myriadpro;
                font-weight: 400;
            }
        }
        &__dev {
            @media screen and (max-width: 767px) {
                margin: 30px 0 0 0;
            }   
            p {
                font-size: 15px;
                line-height: 18px;
                color: #828D9E;
                font-family: myriadpro;
                font-weight: 400;
                a {
                    color: #828D9E;
                    text-decoration: none;
                    transition: all 400ms ease-in-out;
                    svg {
                        margin: 0 0 -4px 10px;
                        path {
                            transition: all 400ms ease-in-out;
                            fill: #828D9E;
                        }
                    }
                    &:hover {
                        color: #000;
                        transition: all 400ms ease-in-out;
                        svg {
                            path {
                                transition: all 400ms ease-in-out;
                                fill: #000;
                            }
                        }
                    }
                }
            }
        }
    }
}